body {
  text-align: center;
  font-family: Helvetica, sans-serif;
}

div.home, div.design {
  color: white;
  background-image: url(../images/the-flatiron-building.png);
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

div.design h2 {
  font-size: 23px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

a {
  color: white;
  font-size: 18px;
}

footer {
  color: white;
  background-color: dimgray;
  text-align: left;
}

footer p {
  font-size: 11px;
}
